<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blue.sky.component"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.blue.sky.common.activity.GuideActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.blue.sky.web.api.webview.WebViewActivity" >
        </activity>
        <activity android:name="com.blue.sky.web.api.webview.WebViewTabActivity" >
        </activity>
        <activity android:name="com.blue.sky.web.api.webview.CrossDomainWebViewActivity" >
        </activity>
        <activity android:name="com.blue.sky.animate.SimpleGesture" >
        </activity>
        <activity android:name="com.blue.sky.animate.MyGuideViewActivity" >
        </activity>
        <activity android:name="com.blue.sky.tab.fragment.MainActivity" >
        </activity>
        <activity android:name="com.blue.sky.tab.tabfragment.MainActivity" >
        </activity>
        <activity android:name="com.blue.sky.tab.navigation.MainActivity" >
        </activity>
        <activity
            android:name="com.blue.sky.message.ApkManagerActivity"
            android:label="@string/title_activity_apk_manager" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
